.cart img {
    width: 90px;
    height: 120px;
}

.prod-row {
    display: flex;
    margin: 10px 600px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: solid black;
}

.prod-row h6 {
    flex-basis: 150px;
}

.prod-row label {
    flex-basis: 150px;
}

.prod-row img {
    flex-basis: 150px;
    padding-right: 5px;
}

.prod-row button {
    flex-basis: 150px;
}